<div class="header">
    <span class="header-title" (click)="hideMenu()"><a routerLink="/">Nexa Electronics</a></span>
    <span class="ham-menu">
      <div class="navbar">
        <div class="menu-toggle" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <nav class="nav-menu" [class.active]="isMenuOpen">
            <ul>
                <li (click)="toggleMenu()"><a routerLink="/home">Home</a></li>
                <li (click)="toggleMenu()"><a routerLink="/about">About</a></li>
                <li (click)="toggleMenu()"><a routerLink="/products">Products</a></li>
                <li (click)="toggleMenu()"><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    </span>
  </div>