<div class="header">
    <span class="header-title">Nexa Electronics</span>
    <span class="ham-menu">
      <div class="navbar">
        <div class="menu-toggle" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <nav class="nav-menu" [class.active]="isMenuOpen">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    </span>
  </div>