<div class="main-container">
  <div class="head-container">
    <div class="page-heading">Contact Us</div>
    <div class="page-subheading">
      Any question or queries? Just write us a message
    </div>
  </div>
  <div class="contact-container">
    <div class="contact-info-container">
      <div class="contact-header-container">
        <div class="contact-heading">Contact Information</div>
        <div class="contact-subheading">
          We highly appreciate you <br />for taking time to connect with us.
          <br />
          Please enter your details here. <br />We will get back with you as
          soon as possible
        </div>
      </div>
      <div class="contact-body-container">
        <div class="contact-body-element">
          <span class="icon"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 10.999H22C22 5.869 18.127 2 12.99 2V4C17.052 4 20 6.943 20 10.999Z"
                fill="white"
              />
              <path
                d="M13 7.99999C15.103 7.99999 16 8.89699 16 11H18C18 7.77499 16.225 5.99999 13 5.99999V7.99999ZM16.422 13.443C16.2298 13.2683 15.9773 13.1752 15.7178 13.1832C15.4582 13.1912 15.212 13.2998 15.031 13.486L12.638 15.947C12.062 15.837 10.904 15.476 9.71198 14.287C8.51998 13.094 8.15898 11.933 8.05198 11.361L10.511 8.96699C10.6974 8.78612 10.8061 8.53982 10.8141 8.2802C10.8222 8.02059 10.7289 7.76804 10.554 7.57599L6.85898 3.51299C6.68402 3.32035 6.44086 3.2035 6.18113 3.18725C5.9214 3.17101 5.66557 3.25665 5.46798 3.42599L3.29798 5.28699C3.12509 5.46051 3.0219 5.69145 3.00798 5.93599C2.99298 6.18599 2.70698 12.108 7.29898 16.702C11.305 20.707 16.323 21 17.705 21C17.907 21 18.031 20.994 18.064 20.992C18.3085 20.9783 18.5393 20.8747 18.712 20.701L20.572 18.53C20.7414 18.3325 20.8273 18.0768 20.8112 17.817C20.7951 17.5573 20.6785 17.3141 20.486 17.139L16.422 13.443Z"
                fill="white"
              />
            </svg>
          </span>
          <span class="value"> 1012 3456 789 </span>
        </div>
        <div class="contact-body-element">
          <span class="icon"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 4H2V20H22V4ZM20 8L12 13L4 8V6L12 11L20 6V8Z"
                fill="white"
              />
            </svg>
          </span>
          <span class="value"> demo&#64;gmail.com </span>
        </div>
        <div class="contact-body-element">
          <span class="icon">icon</span>
          <span class="value">
            132 Dartmouth Street Boston, <br />Massachusetts 02156 United States
          </span>
        </div>
      </div>
    </div>
    <div>
      <form class="contact-form-container">
        <section>
          <div class="input">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" />
          </div>
          <div class="input">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" />
          </div>
        </section>
        <section>
          <div class="input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="input">
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" id="phone" />
          </div>
        </section>
        <section>
          <div class="input">
            <label>Select Subject?</label>

            <div>
              <input
                type="radio"
                name="subject"
                id="general1"
                value="General Inquiry"
              />
              <label for="general1"> &nbsp;&nbsp;Components Order </label>
<br>
              <input
                type="radio"
                name="subject"
                id="general2"
                value="General Inquiry"
              />
              <label for="general2"> &nbsp;&nbsp;Bulk Order</label>
<br>
              <input
                type="radio"
                name="subject"
                id="general3"
                value="General Inquiry"
              />
              <label for="general3"> &nbsp;&nbsp;Know More About Us</label>
<br>
              <input
                type="radio"
                name="subject"
                id="general4"
                value="General Inquiry"
              />
              <label for="general4"> &nbsp;&nbsp;General Inquiry</label>
            </div>
          </div>
        </section>
        <section>
          <div class="input">
            <label for="message">Message</label>
            <textarea class="input-style"

              type="text"
              name="message"
              id="message"
              placeholder="Write your message">
            </textarea>
          </div>
        </section>
        <section>
          <input type="submit" value="Send Enquiry" class="submit" />
        </section>
      </form>
    </div>
  </div>
</div>
