<div class="main-container">
  <div class="head-container">
    <div class="page-heading">Contact Us</div>
    <div class="page-subheading">Any question or queries? Just write us a message</div>
  </div>

  <div class="contact-container">
    <div class="contact-info-container">
      <div class="contact-header-container">
        <div class="contact-heading">Contact Information</div>
        <div class="contact-subheading">
          We highly appreciate you <br />for taking time to connect with us.<br />
          Please enter your details here. <br />We will get back with you as soon as possible
        </div>
      </div>
      <div class="contact-body-container">
        <div class="contact-body-element">
          <span class="icon">
            <!-- Your SVG Icon here -->
          </span>
          <span class="value"> 1012 3456 789 </span>
        </div>
        <div class="contact-body-element">
          <span class="icon">
            <!-- Your SVG Icon here -->
          </span>
          <span class="value"> demo&#64;gmail.com </span>
        </div>
        <div class="contact-body-element">
          <span class="icon">icon</span>
          <span class="value">
            132 Dartmouth Street Boston, <br />Massachusetts 02156 United States
          </span>
        </div>
      </div>
    </div>

    <div>
      <form class="contact-form-container" name="contact" method="post" data-netlify="true">
        <br>
        <section>
          <div class="input">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" />
          </div>
          <div class="input">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" />
          </div>
        </section>
        <br>
        <section>
          <div class="input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="input">
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" id="phone" />
          </div>
        </section>
        <br>
        <section>
          <div class="input">
            <label>Select Subject?</label>
            <div class="subject-grid">
              <input type="radio" name="subject" id="components_order" value="Components Order" />
              <label for="components_order"> &nbsp;&nbsp;Components Order </label>
              <input type="radio" name="subject" id="bulk_order" value="Bulk Order" />
              <label for="bulk_order"> &nbsp;&nbsp;Bulk Order</label>
              <input type="radio" name="subject" id="know_more_about_us" value="Know More About Us" />
              <label for="know_more_about_us"> &nbsp;&nbsp;Know More About Us</label>
              <input type="radio" name="subject" id="general_inquiry" value="General Inquiry" />
              <label for="general_inquiry"> &nbsp;&nbsp;General Inquiry</label>
            </div>
          </div>
        </section>
        <br>
        <section>
          <div class="input">
            <label for="message">Message</label>
            <textarea class="input-style" type="text" name="message" id="message" placeholder="Write your message"></textarea>
          </div>
        </section>
        <br>
        <section>
          <button type="submit" class="submit">Send Enquiry</button>
        </section>
        <br>
      </form>
    </div>
  </div>
</div>
