:host{
    width: inherit;
    height: inherit;
}
.main-container {
  --primary-color: #02031e;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}
main{
    width: inherit;
    height: max-content;
    flex: 1 1;
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #f5faff;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

