<div class="footer">
  <div>Nexa Electronics 2024 - All Rights Reserved.</div>
  <div class="social-media-nav">
    <!-- <span><img src="/telegram.svg" alt="Telegram" /></span> -->
    <span><img src="/twitter.svg" alt="Twitter" /></span>
    <!-- <span><img src="/facebook.svg" alt="Facebook" /></span> -->
    <span><img src="/whatsapp.svg" alt="Whatsapp" /></span>
    <span><img src="/linkedin.svg" alt="Linked In" /></span>
    <!-- <span><img src="/skype.svg" alt="Skype" /></span> -->
    <!-- <span><img src="/youtube.svg" alt="Youtube" /></span> -->
    <span><img src="/quora.svg" alt="Quora" /></span>
    <span><img src="/instagram.svg" alt="Instagram" /></span>
  </div>
</div>
